#photo {
  display: flex;
  width: 100px;
  height: 90px;
  flex-direction: column;
  margin-right: 40px;
  flex-direction: wrap;
  margin-top: 50px;
  justify-content: space-evenly;
}

.box {
  display: flex;
  font-family: roboto;
  border-radius: 18px;
  background: white;
  height: 190px;
}
