#table{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 3000px;
    background-color: green;
}

#position{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#description{
    display: flex;
    flex-direction: column;
}