#outercontainer{
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    box-shadow: black 3px 8px;
    width: 1200px;
    background-color: coral;
    justify-content: space-evenly;
}

#headers{
    margin-top: 168px;
    margin-right: 40px;
}

#headers p{
    height: 33px;
}

#innercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#innercontainer div{
    display: flex;
    flex-direction: column;
    width: 125px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
}
