<!DOCTYPE html>
<d/div lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#portfolio.html">Portfolio</a>
            <a href="#contact.html">Contact</a>
            <a href="#about.html">About</a>
            </div>
    <div id="aboutme">
        <p id ="tom">Full Stack Developer</p>
        <div>

        </div>
        <p id ="subheading"> Experienced full stack developer with a high level of proficiency in 
            the following programs: Javascript, Python, React, HTML and CSS. Seeking remote job 
            opportunities that will further my skills as a full stack developer. 
        </p>
     <div id ="mainintroduction">
        <p id ="introduction">Hi, I'm Haris. Nice to meet you.</p>
        <p id ="subintroduction">Since the beginning of my journey as a developer, I've helped create
            digital products for both business and consumer use. I am confident, curious, and always working
            hard to improve my developer skills.
        </p>
    </div>

    <div class= "maincolumns">
        <div class="column">
        <h2 class = "columnheading">Front-end Developer</h2>
        <img src="https://image.flaticon.com/icons/svg/977/977597.svg" height = "100" width = "220" style="width:50%" class="center">
            <p class= "textcolumn">I love bringing people's idea to life in the browser. As someone who loves creating things from scratch,
         I enjoy making simple content structures that are user friendly and has thoughtful interations.
            </p>
            <p class="zf">Languages I know</p>
            <P class="zf2"> HTML & CSS</P>
         </div>

        <div class="column">
        <h2 class = "columnheading">Back-end Developer</h2>
        <img src="https://image.flaticon.com/icons/svg/2345/2345539.svg" height = "100" width = "220" style="width:50%" class="center">

            <p class= "textcolumn">I excel at compiling and analyze data, creating processes
                and able to use data to identify areas of opportunity. I enjoy collaborating with Front-end developers to help establish objectives and 
                write code to enhance user experience.
            </p>
            <p class="zf1">Languages I know</p>
            <P class="zf2"> Python, Javascript, Flask, React</P>
         </div>

         </div>

    </div>

<div class="skillchart">
    <div class = "wrapper">
        <h1>Skill Chart</h1>
        <br><br>
       
        <h2>JAVASCRIPT</h2>
        <div class ="line line 1">90%</div>
        <h2>PYTHON</h2>
        <div class="line line2">85%</div>
        <h2>HTML/CSS</h2>
        <div class="line line3">80%</div>
        <h2>REACT</h2>
        <div class="line line4">90%</div>
    </div>
</div>
        

        

