<html>
 
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/complexity.css') }}">
     </head>
    <body>
        <div class="table">
                <button class="addNewRow"> <img src="{{ url_for('static', filename='img/plus.png') }}" width="50px" height="50px"></button>
                <div class="headers tablerow">
                    <div class="rowitem">Position</div>
                    <div class="rowitem">Company</div>
                    <div class="rowitem">Description</div>
                    <div class="rowitem">Button</div>
                </div>
                {% set count = 1 %}
                {% for i in range(job|length) %}
                <div class="tablerow" name={count}>
                    <div class = "color"  class="rowitem " class="positionz">{{(job[i]["position"])}}</div>
                    <div class= "color"  class="rowitem" class="companyz">{{(job[i]["company"])}}</div>
                    <div class= "color"  class="rowitem" class="descriptionz">{{(job[i]["description"])}}</div>
                    <button class="delete"> <img src="{{ url_for('static', filename='img/minus.png') }}" width="40px" height="40px"></button>
                    <button class="edit">Edit</button>
                    <label class="switch">
                        <input type="checkbox" class="highlight">
                        <span class ="slider"></span>
                    </label>
                </div>
                {% set count = count + 1 %}
                {% endfor %}
                <div id="newInputRow" style="display: none;">
                    <onsubmit="return newrow_form></onsubmit>
                    <input type="text" id="position" position="positionname"
                    placeholder="Position Name">
                    <input type="text" id="company" position="companyname"
                    placeholder="Company Name">
                    <input type="text" id="description" position="descriptionname"
                    placeholder="Enter Description">
                    <button class="add">Add</button>
                </div>
                <div class="tablerow newTableRow" style="display: none;">
                    <div id="positionz" class = "colors rowitem"></div>
                    <div id="companyz" class = "colors rowitem" ></div>
                    <div id="descriptionz" class = "colors rowitem"></div> 
                    <button class="deletenewrow"> <img src="{{ url_for('static', filename='img/minus.png') }}" width="40px" height="40px"></button> 
                    <button class="editnewrow">Edit</button>
                    <label class="switch_new_row">
                        <input type="checkbox">
                        <span class ="slider"></span>
                    </label>
                </div>
            </div>
        </div>    
        </body>
    <script src="{{ url_for('static', filename='js/complex.js') }}"></script>
</html>


