<html>
 
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/complexity.css') }}">
     </head>
    <body>
        <div class="table">
            <button id="button"> <img src="{{ url_for('static', filename='img/plus.png') }}" width="50px" height="50px"></button>
            <div class="headers tablerow">
                <div class="rowitem">Position</div>
                <div class="rowitem">Company</div>
                <div class="rowitem">Description</div>
            </div>
            {% for i in range(job|length) %}
            <div class="tablerow">
                <div class = "color" class="rowitem">{{(job[i]["position"])}}</div>
                <div class= "color" class="rowitem">{{(job[i]["company"])}}</div>
                <div class= "color" class="rowitem">{{(job[i]["description"])}}</div>
            </div>
            {% endfor %}
            <div id="newrow">
                <onsubmit="return newrow_form></onsubmit>
                <input type="text" id="position" position="positionname"
                placeholder="Position Name">
                <input type="text" id="company" position="companyname"
                placeholder="Company Name">
                <input type="text" id="description" position="descriptionname"
                placeholder="Enter Description">
                <button id="submit">Submit</button>
        </div> 
        <div class="appendithere"></div>     
        </body>
    <script>
    $("#newrow").hide();
    $("#button").click(function(){
        $("#newrow").clone().appendTo(".appendithere");
        $("#newrow").show();
    });
        
    
    </script>
</html>