<html>
    <head>
        <title>Personal Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>


    </head>
    <body>
        <div id="outercontainer">
            <div id = "headers">
                <p>Summary</p>
                <p>Temperature</p>
                <p>Percipitation</p>
                <p>Wind</p>
            </div>
            <div id="innercontainer">
                <div>
                    <h3 id="day1"></h3> 
                    <img src={{day1_img}} width="120px", height="100px">  
                    <p>{{icon['day1_icon']}}</p>
                    <p>{{ temperature['day1_temperature'] }}</p>
                    <p>{{wind['day1_wind']}}</p>
                    <p>{{rain['day1_rain']}}</p>    
                </div>
                <div>
                    <h3 id="day2"></h3> 
                    <img src={{day2_img}} width="120px", height="100px">  
                    <p>{{icon['day2_icon']}}</p>
                    <p>{{ temperature['day2_temperature'] }}</p>
                    <p>{{wind['day2_wind']}}</p>
                    <p>{{rain['day2_rain']}}</p>   
                </div>
                <div>
                    <h3 id="day3"></h3> 
                    <img src={{day3_img}} width="120px", height="100px">  
                    <p>{{icon['day3_icon']}}</p>
                    <p>{{ temperature['day3_temperature'] }}</p>
                    <p>{{wind['day3_wind']}}</p>
                    <p>{{rain['day3_rain']}}</p>   
                </div>
                <div>
                    <h3 id="day4"></h3> 
                    <img src={{day4_img}} width="120px", height="100px">  
                    <p>{{icon['day4_icon']}}</p>
                    <p>{{ temperature['day4_temperature'] }}</p>
                    <p>{{wind['day4_wind']}}</p>
                    <p>{{rain['day4_rain']}}</p>   
                </div>
                <div>
                    <h3 id="day5"></h3> 
                    <img src={{day5_img}} width="120px", height="100px">   
                    <p>{{icon['day5_icon']}}</p>
                    <p>{{ temperature['day5_temperature'] }}</p>
                    <p>{{wind['day5_wind']}}</p>
                    <p>{{rain['day5_rain']}}</p>  
                </div>
                <div>
                    <h3 id="day6"></h3> 
                    <img src={{day6_img}} width="120px", height="100px">  
                    <p>{{icon['day6_icon']}}</p>
                    <p>{{ temperature['day6_temperature'] }}</p>
                    <p>{{wind['day6_wind']}}</p>
                    <p>{{rain['day6_rain']}}</p>   
                </div>
                <div>
                    <h3 id="day7"></h3> 
                    <img src={{day7_img}} width="120px", height="100px"> 
                    <p id="stop">{{icon['day7_icon']}}</p>
                    <p>{{ temperature['day7_temperature'] }}</p>
                    <p>{{wind['day7_wind']}}</p>
                    <p>{{rain['day7_rain']}}</p>   
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function days() {
            var datez = new Date();
            var cday = datez.getDay(); 
            var day1 = $("#day1");
            var day2 = $("#day2");
            var day3 = $("#day3");
            var day4 = $("#day4");
            var day5 = $("#day5");
            var day6 = $("#day6");
            var day7 = $("#day7");
            console.log('bobby');

            if (cday === 0){
                day1.text('Sunday');
                day2.text('Monday');
                day3.text('Tuesday');
                day4.text('Wednesday');
                day5.text('Thursday');
                day6.text('Friday');
                day7.text('Saturday');
            } if (cday === 1){
                day1.text('Monday');
                day2.text('Tuesday');
                day3.text('Wednesday');
                day4.text('Thursday');
                day5.text('Friday');
                day6.text('Saturday');
                day7.text('Sunday');
            } if (cday === 2){
                day1.text('Tuesday');
                day2.text('Wednesday');
                day3.text('Thursday');
                day4.text('Friday');
                day5.text('Saturday');
                day6.text('Sunday');
                day7.text('Monday');
            } if (cday === 3){
                day1.text('Wednesday');
                day2.text('Thursday');
                day3.text('Friday');
                day4.text('Saturday');
                day5.text('Sunday');
                day6.text('Monday');
                day7.text('Tuesday');
            } if (cday === 4){
                day1.text('Thursday');
                day2.text('Friday');
                day3.text('Saturday');
                day4.text('Sunday');
                day5.text('Monday');
                day6.text('Tuesday');
                day7.text('Wednesday');
            } if (cday === 5){
                day1.text('Friday');
                day2.text('Saturday');
                day3.text('Sunday');
                day4.text('Monday');
                day5.text('Tuesday');
                day6.text('Wednesday');
                day7.text('Thursday');
            } if (cday === 6){
                day1.text('Saturday');
                day2.text('Sunday');
                day3.text('Monday');
                day4.text('Tuesday');
                day5.text('Wednesday');
                day6.text('Thursday');
                day7.text('Friday');
                console.log('hey');
            }}
        days();
    </script>
</html>