<html>
    <head>
        <title>Top News by Country </title>
    </head>
    <body>
        <form method="POST" action="/news">
            <label for="Country">What country are you interested learning more about?</label>
            <select id="country" name="country">
                <option type = "text" value="AU">Australia</option>
                <option type = "text" value="fre">France</option>
                <option type = "text" value="ru">Russia</option>
                <option type = "text" value="jp">Japan</option>
                <option type = "text" value="gr">Greece</option>
                <option type = "text" value="us">United States</option>
            </select>
            <input type="submit"> 
        </form>
    </body>
</html>