.wrapperBox {
  font-family: roboto;
  text-align: center;
  width: 1019px;
  height: 480px;
  background-color: white;
  padding-left: 30px;
  padding-right: 60px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  padding-top: 30px;
  border-radius: 18px;
  background-color: white;
}

.wrapeverything {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.wrapper h2 {
  text-align: left;
  color: black;
}

.line {
  height: 25px;
  min-width: 800px;
  margin: 0 auto 10px;
  line-height: 25px;
  font-size: 14px;
  padding: 0 0 0 10px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
}

.line:before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  background-color: #eeeeee;
}

.line:after {
  content: "";
  background: #7aa5d2;
  height: 25px;
  transition: 0.8s;
  display: block;
  width: 100%;
  animation: animate 1 4s;
  position: absolute;
  top: 0;
  left: 0;
}

.line1:after {
  max-width: 90%;
}
.line2:after {
  max-width: 85%;
}
.line3:after {
  max-width: 95%;
}
.line4:after {
  max-width: 80%;
}
.line5:after {
  max-width: 75%;
}

@keyframes animate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.maincolumns {
  padding-bottom: 30px;
}

#photo {
  display: flex;
  width: 100px;
  height: 90px;
  flex-direction: column;
  margin-right: 40px;
  flex-direction: wrap;
  margin-top: 50px;
  justify-content: space-evenly;
}

.skillChartTitle {
  padding-top: 30px;
  font-size: 50px;
  color: #303841;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: white;
}
