body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
