.aboutMeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutMe {
  font-size: 50px;
  color: rgb(255, 7, 110);
  padding-top: 30px;
}

.aboutText {
    max-width: 600px;
    font-size: 20px;
}

.aboutBackground {
  width: 100vw;
  height: 700px;
  background-color: rgb(204, 189, 170);
  margin-top: -246px;
}

.attributeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.myAttributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 120px;
  height: 120px;
  background: #8a868e;
  border-radius: 50%;
  margin-top: 30px;
}

.Rocket {
  margin-top: 30px;
  margin-left: 25px;
}

.Lightbulb {
  margin-top: 30px;
  margin-left: 38px;
}

.Bath {
  margin-top: 30px;
  margin-left: 33px;
}

.Laptop {
  margin-top: 30px;
  margin-left: 23px;
}

.myAttributes p {
  text-align: center;
}

.tagline {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.description {
  width: 180px;
  word-break: normal;
  margin-top: 10px;
  height: 30px;
}