.length {
  width: 400px;
}

.lengths {
  width: 400px;
  height: 1px;
}

.Title {
}

.boxs {
  color: rgb(255, 7, 110);
  margin-top: 50px;
  font-family: roboto;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  height: 375px;
  width: 700px;
  background-color: blanchedalmond;
}

.backgroundContact {
  display: flex;
  justify-content: center;
}

.postman {
  width: 100px;
  height: 100px;
}

.contactNameFrom {
  margin-top: 50px;
}

.ContactMeTitle {
  font-size: 50px;
  color: #47555e;
  text-align: center;
}

.backgroundContactForm {
  background-color: #eeeeee;
  width: 100vw;
  height: 600px;
}
