.title {
  color: black;
}
.backgroundResume {
  background-color: #7aa5d2;

  max-height: 1800px;
}
.Resume {
  padding-top: 60px;
  font-size: -webkit-xxx-large;
  color: #47555e;
}

#card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  width: 450px;
  height: 229px;
}

#card-text {
  grid-area: text;
  justify-content: center;
  font-size: 15px;
}

#card-text li {
  grid-area: text;
  text-align: left;
  padding-right: 10px;
  font-size: 16px;
}

#card-text #date {
  color: #303841;
  font-size: 18px;
}

#card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

#card-text h2 {
  margin-top: 5px;
  font-size: 28px;
  color: #303841;
  font-weight: bolder;
}

.allCards:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.Company {
  font-size: larger;
  font-weight: bolder;
  color: #303841;
  padding-top: 30px;
}

.allCards {
  display: grid;
  grid-template-columns: 450px;
  grid-template-rows: 210px 395px 80px;

  grid-template-areas: "image" "text" "stats";

  font-family: roboto;
  border-radius: 18px;
  background: #eeeeee;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 450px;
  height: 700px;
  margin-top: 80px;

  transition: 0.5s ease;
  cursor: pointer;
  margin-bottom: 50px;
}

.WholeCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-right: 10px;
  padding-left: 10px;
}

.pushDateDown {
  padding-bottom: 20px;
}

.experience {
  font-size: 50px;
  color: #303841;
  text-align: center;
  padding-top: 30px;
}
