.backgroundProjects {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px;
}

.SectionTitle {
  font-size: 50px;
  color: #303841;
  text-align: center;

}

.Projects {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  justify-content: space-evenly;
  width: 100%;
}

.ProjectBox {
  display: flex;
  align-items: center;

  flex-direction: column;
  height: 720px;
}

.ProjectTitle {
  font-size: 30px;
  color: #303841;
}

.ProjectImage {
  width: 600px;
  height: 350px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 18px;
  margin-top: 40px;
}

.ProjectPoints {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProjectTagline {
  font-size: 35px;
  margin-bottom: 20px;
  color: #303841;
  margin: 30px 0px 20px 0px;
  text-align: left;
  padding: 0px;
}

.ProjectDescription {
  width: 550px;
  word-break: normal;
}