.backgroundProjects {
  width: 100vw;
  height: 1100px;
  background-color: rgb(75, 87, 109);
}

.backgroundProjects {
}

.ProjectTitle {
  font-size: 50px;
  color: rgb(255, 7, 110);
  text-align: center;
}

.DevSpotTitle {
  font-size: 50px;
}

.howDevSpot {
  font-size: 35px;
  margin-bottom: 20px;
}

.Portfolio {
  font-size: 50px;
}

.DevSpot {
}

.DevSpotDescription {
  width: 600px;
  word-break: normal;
}

.portfolioSection {
}

.PortfolioDesription {
}

.DevSpotImage {
  width: 475px;
  height: 350px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 18px;
}
.differentTitles {
  display: flex;
  font-size: 15px;
  justify-content: space-evenly;
  font-weight: bolder;
}

.DevGroupDescription {
}

.ProfileHow {
  font-size: 35px;
  margin-bottom: 10px;
}

.portfolioImage {
  width: 475px;
  height: 350px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 18px;
}

.projectImages {
  justify-content: space-evenly;
  display: flex;
  margin-top: 40px;
}

.allDescriptions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 23px;
}
