.skillsBackground {
  padding-top: 30px;
  background-color: rgb(24, 70, 70);
  width: 100vw;
  height: 1200px;
}

.frontendtool {
  display: flex;
  font-size: 400%;
  font-weight: 900;
  color: rgb(255, 7, 110);
  justify-content: center;
}

.backendtool {
  display: flex;
  font-size: 400%;
  font-weight: 900;
  margin-top: 60px;
  justify-content: center;
  color: rgb(255, 7, 110);
}

.otherToolTitle {
  display: flex;
  font-size: 400%;
  font-weight: 900;
  justify-content: center;

  color: rgb(255, 7, 110);
}

#html {
  display: flex;
  width: 180px;
  height: 170px;
  flex-direction: row;
  margin-right: 40px;
  flex-direction: wrap;
  margin-top: 50px;
  justify-content: space-evenly;
}

#css {
  display: flex;
  width: 129px;
  height: 168px;
  flex-direction: row;
  margin-right: 40px;
  flex-direction: wrap;
  margin-top: 50px;
  justify-content: space-evenly;
}

#jquery {
  display: flex;
  width: 290px;
  height: 90px;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 120px;
}

#javascript {
  display: flex;
  width: 245px;
  height: 165px;
  flex-direction: row;
  margin-top: 65px;
  justify-content: space-evenly;
}

#react {
  display: flex;
  width: 210px;
  height: 170px;
  flex-direction: row;
  margin-left: -50px;
  margin-top: 60px;
  justify-content: space-evenly;
}

#python {
  display: flex;
  width: 150px;
  height: 130px;
  flex-direction: row;
  margin-right: 40px;
  margin-top: 50px;
  justify-content: space-evenly;
}

#flask {
  display: flex;
  width: 310px;
  height: 230px;
  flex-direction: row;
  margin-right: 40px;
  margin-top: 10px;
  justify-content: space-evenly;
}

#mongodb {
  display: flex;
  width: 240px;
  height: 90px;
  flex-direction: row;
  margin-right: 40px;
  margin-top: 60px;
  justify-content: space-evenly;
}

#sql {
  display: flex;
  width: 140px;
  height: 120px;
  flex-direction: row;
  margin-right: 40px;
  margin-top: 50px;
  justify-content: space-evenly;
}

#github {
  display: flex;
  width: 300px;
  height: 130px;
  flex-direction: row;

  justify-content: center;
}

.frontend {
  display: flex;
  justify-content: center;
}

.backend {
  display: flex;
  font-size: 400%;
  font-weight: 900;
  justify-content: center;
  color: rgb(255, 7, 110);
}

.otherTools {
  display: flex;

  justify-content: center;
}
