#html {
  display: flex;
  width: 100px;
  height: 90px;
  flex-direction: row;
  flex-direction: wrap;
  justify-content: space-evenly;
}

#css {
  display: flex;
  width: 69px;
  height: 93px;
  flex-direction: row;
  flex-direction: wrap;
  justify-content: space-evenly;
}

#jquery {
  display: flex;
  width: 190px;
  height: 60px;
  flex-direction: row;
  justify-content: space-evenly;
}

#javascript {
  width: 144px;
  height: 85px;
  flex-direction: row;
  justify-content: space-evenly;
}

#react {
  display: flex;
  width: 110px;
  height: 90px;
  flex-direction: row;
  justify-content: space-evenly;
}

#python {
  display: flex;
  width: 90px;
  flex-direction: row;
  justify-content: space-evenly;
}

#flask {
  display: flex;
  width: 210px;
  height: 130px;
  flex-direction: row;
  justify-content: space-evenly;
}

#mongodb {
  display: flex;
  width: 140px;
  margin-top: 30px;
  height: 60px;
  flex-direction: row;
  justify-content: space-evenly;
}

#sql {
  display: flex;
  width: 140px;
  height: 120px;
  flex-direction: row;

  justify-content: space-evenly;
}

#github {
  display: flex;
  width: 150px;
  height: 100px;
  flex-direction: row;
  justify-content: center;
}

.frontend {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  align-items: center;
}

#slider figure {
  position: relative;
  margin: 0;
  left: 0;
  width: 500%;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
  height: auto;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.sliderDimensions {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.sliderBackground {
  padding-top: 30px;
  background-color: #7aa5d2;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
}
.frontendTools {
  text-align: center;
  padding-top: 200px;
  color: #303841;
}

.backendSliderDimensions {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.SkillsTitle {
  text-align: center;
  font-size: 50px;
  color: #303841;
}

.backgroundAll {
  background-color: #7aa5d2;
}
