.banner {
  height: 595px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  width: 100vw;
}

.banner .content {
  position: absolute;
  margin: 0 auto;
  text-align: center;
}

.banner .content h1 {
  margin: 0;
  font-size: 4.5em;
  text-transform: uppercase;
  color: #fff;
}
.banner .content p {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #fff;
  font-style: italic;
}
