.weatherBackground {
  background-color: rgb(7, 61, 61);
  width: 100vw;
  height: 500px;
  color: black;
}

.weatherFormat {
}

.dayWeather {
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

.iconWeather {
  display: flex;
  flex-direction: row;
}

.temperature {
  font-size: 40px;
  color: white;
}

.weatherDescription {
  display: flex;
  flex-direction: row;
}

.weatherLocatation {
  color: rgb(255, 7, 110);
  margin-bottom: 30px;
  text-align: center;
}

.weatherTitle {
  font-size: 50px;
  color: rgb(255, 7, 110);
  text-align: center;
}

.widgetBackground {
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  width: 1050px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("../../../Photos/Videos/backgroundweather.jpeg");
}

.centerWeather {
  justify-content: center;
  display: flex;
}
